.btn {
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-decoration: underline;
    @include breakpoint($md) {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
}

.arrowDown {
    width: 45px;
    height: 45px;
    display: inline-block;
    background: url("../images/arrow_down.svg") center no-repeat;
}

.arrowDown__wrap {
}
