$checkHeigh: 24px;
.wpcf7-acceptance {
    .wpcf7-list-item-label {
        display: block;
    }

    label {
        position: relative;
        display: inline-block;
        padding-left: 40px;
    }

    label span::before {
        content: "";
        background: url("../images/checkbox.svg") left top no-repeat;
        font-weight: normal;
        font-size: $checkHeigh;
        line-height: $checkHeigh;
        background-size: $checkHeigh;
        padding-left: 6px;
        position: absolute;
        top: calc(50% - 10px);
        left: 1px;
        width: $checkHeigh;
        height: $checkHeigh;
        display: block;
        top: 0;
    }

    label span::after {
        content: "";
        background: url("../images/checkbox.svg") left top no-repeat;
        font-weight: normal;
        font-size: $checkHeigh;
        line-height: $checkHeigh;

        background-size: $checkHeigh;
        padding-left: 6px;
        position: absolute;
        top: calc(50% - 10px);
        left: 1px;
        width: $checkHeigh;
        height: $checkHeigh;
        display: block;
        top: 0;
    }

    label input[type="checkbox"] {
        opacity: 0;
        z-index: -1;
        position: absolute;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    label input[type="checkbox"]:checked + span::after {
        background: url("../images/checkbox_checked.svg") left top no-repeat;
        background-size: $checkHeigh;
        top: 0;
    }
}

.form__row {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    @include breakpoint($md) {
        margin-bottom: 58px;
        flex-direction: row;
    }
    label {
        font-size: 1.4rem;
        @include breakpoint($md) {
            font-size: 1.2rem;
        }
    }
    input,
    textarea {
        font-family: "IBM Plex Mono", monospace;

        font-size: 2rem;
        border: 0;
        padding: 0;
        margin: 0;
        line-height: 3.2rem;
        background: transparent;
        width: 100%;
        border-radius: 0 !important;
        border: 0;
        border-bottom: 2px solid $black;
        margin-bottom: 8px;
        padding: 5px 0 5px;
        @include breakpoint($md) {
            font-size: 2.4rem;
            line-height: 4rem;
        }
        &::placeholder {
            color: $white;
            font-family: "IBM Plex Mono", monospace;
        }
        &.valid {
            background: url("../images/valid.svg") top 20px right no-repeat;
        }
        &.error {
            color: red;
        }
    }
    textarea {
        border-top: 2px solid $black;
        max-height: 142px;
        @include breakpoint($md) {
            max-height: 190px;
        }
    }
    .wpcf7-submit {
        width: initial;
        font-size: 16px;
        line-height: 26px;
        border: 0;
        text-decoration: underline;
        text-transform: lowercase;
        font-family: "IBM Plex Mono", monospace;
    }
    label {
        display: flex;
        flex-direction: column;
    }
}
.form__row__50 {
    width: 100%;
    margin-bottom: 33px;

    @include breakpoint($md) {
        width: 48%;
        margin-bottom: 0;
    }
}
.form__row__100 {
    width: 100%;
    margin-bottom: 33px;
    @include breakpoint($md) {
        margin-bottom: 0;
    }
}
.form__row__submit {
    position: relative;
    .wpcf7-submit {
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
    .ajax-loader {
        position: absolute;
    }
}

.wpcf7-acceptance .wpcf7-list-item-label {
    font-size: 1.2rem;
    line-height: 2rem;
}

.wpcf7-list-item {
    margin: 0;
}

.wpcf7-form {
    .wpcf7-response-output {
        display: none;
    }
    .form__response {
        h4 {
            font-size: 3.8rem;
            line-height: 5rem;
            margin-bottom: 32px;
        }
        p {
            font-size: 2.4rem;
            line-height: 4rem;
        }
    }
    &.sent {
        .form__main {
            display: none;
        }
        .form__response {
            display: block;
        }
    }
    .form__response {
        display: none;
    }
}

.white {
    .form__row {
        input,
        textarea {
            &::placeholder {
                color: #dddddd;
            }
        }
    }
}
.blue {
    .wpcf7-submit {
        color: $white;
    }
    .borderTop {
        border-color: $white;
    }
    .font38_24,
    p {
        color: $white;
    }
    .form__row label {
        color: $white;
    }
    .form__row input,
    .form__row textarea {
        border-color: $white;
    }
    &.skontaktuj {
        background-color: #8394a7;
        .title .l-container {
            padding-bottom: 7%;
            padding-top: 5.5%;
        }
    }
    .form__row {
        input,
        textarea {
            &::placeholder {
                color: #9ba9b9;
            }
        }
    }
    .wpcf7-acceptance {
        label span::before {
            background: url("../images/check_white.svg") left top no-repeat;
        }

        label span::after {
            background: url("../images/check_white.svg") left top no-repeat;
        }

        label input[type="checkbox"]:checked + span::after {
            background: url("../images/check_white_checked.svg") left top no-repeat;
        }
    }
}

.uploadfieldtrick #fileuploadfield {
    display: none;
}

.uploadfieldtrick #uploadbrowsebutton {
    display: none;
}

.form__row__file {
    br {
        display: none;
    }
}

#uploadCV {
    background: none;
    font-family: "IBM Plex Mono", monospace;

    font-size: 2rem;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 3.2rem;
    background: transparent;
    width: 100%;

    margin-bottom: 0;
    color: #fff;
    padding: 5px 0 5px;
    @include breakpoint($md) {
        font-size: 2.4rem;
        line-height: 4rem;
    }
    &::placeholder {
        color: $white;
        font-family: "IBM Plex Mono", monospace;
    }
}
