<section class="realizacje" data-aos="fade-up">
    <div class="title">
        <div class="l-container">
            <div class="l-row" data-aos="fade-up">
                <div class="l-col12 borderTop displayFlex">
                    <h3 class="font38_24">Realizacje</h3>
                    <a href="#" class="btn">wszystkie realizacje</a>
                </div>
            </div>
        </div>

    </div>
    <div class="l-container">
        <div class="l-row --wider" data-aos="fade-up">
            <div class="js-realizacje realizacje__slick l-col13">

                {% for post in realizacjePosts %}

                    {% include 'components/article__slick.twig' %}

                {% endfor %}
            </div>
        </div>
    </div>
    <div class="l-container bottomAdd">

        <div class="l-row"></div>
    </div>
</section>
