<section class="realizacje" data-aos="fade-up">
	<div class="title">
		<div class="l-container">

			<div class="l-row" data-aos="fade-up">
				<div class="l-col12 borderTop displayFlex">
					<h1>Realizacje</h1>
					<a href="#" class="btn">wszystkie realizacje</a>
				</div>
			</div>
		</div>

	</div>

	<div class="js-realizacje realizacje__slick">

		{% for post in realizacjePosts %}

			{% include 'components/article__slick.twig' %}

		{% endfor %}
	</div>
	<div class="l-container bottomAdd">

		<div class="l-row"></div>
	</div>
</section>
