<section class="skontaktuj {{class}}" data-aos="fade-up">
	<div class="title">
		<div class="l-container">
			<div class="l-row" data-aos="fade-up">


				<div class="l-col12 borderTop">
					<h4 class="font38_24">{{options.skontaktuj_sie_z_nami}}</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="l-container skontaktuj__bottom">
		<div class="l-row" data-aos="fade-up">

			<div class="l-col5">
				<p class="font24">{{options.skontaktuj_sie_z_nami_copy}}</p>
			</div>
			<div class="l-col6 l-off7">
				{% filter shortcodes|raw %}
					{{options.formularz_kontaktowy}}
				{% endfilter %}
			</div>
		</div>
	</div>

</section>
