{% include 'header/index.twig' %}
<main>
	<div class="cookie-banner" style="display: none">
		<div class="cookie-banner__border">
			<div class="cookie-banner__wrap">
				<h3 class="font16 strong">{{options.pliki_cookies}}</h3>
				<p class="font12">{{options.tresc}}
				</p>
			</div>
			<a class="close btn">{{options.zaakceptuj}}</a>
		</div>
	</div>
	{% block content %}
		{{ messages.base.no_content }}
	{% endblock %}
</main>
{% include 'footer/index.twig' %}
