{% include 'header/index.twig' %}
<main>
	<div class="cookie-banner" style="display: none">
		<div class="cookie-banner__border">
			<div class="cookie-banner__wrap">
				<h3 class="font16 strong">Pliki cookies</h3>
				<p class="font12">Let faceribust rem nima sim dolorpore, ex exerro offiLet faceribust rem nima sim dolorpore, ex exerro officimus am hil min everum et odiaepr atiore postionserum harum et vidigenia none vol uptur cimus am hil min everum et odiaepr atiore postionse
				</p>
			</div>
			<a class="close btn">zaakceptuj</a>
		</div>
	</div>
	{% block content %}
		{{ messages.base.no_content }}
	{% endblock %}
</main>
{% include 'footer/index.twig' %}
