{% extends "base.twig" %}

{% block content %}
	<article class="main-article">
		<header class="oferty__title title">
			<div class="l-container">

				<div class="l-row" data-aos="fade-up">
					<div class="l-col12 borderTop">
						<h1>{{ post.title }}</h1>

					</div>
				</div>
				<div class="l-row singleOfertyBottom" data-aos="fade-up">
					<div class="l-col8 l-off4">
						<p class="font24">{{ post.meta('opis') }}</p>
					</div>
				</div>
			</div>
		</header>
		{% include 'components/generic/image.twig' with {img_src: post.thumbnail, width: 1920} %}
		<section class="oferty__tresc">
			<div class="l-container">

				<div class="l-row" data-aos="fade-up">
					<div class="l-col8 l-off4">
						{{ post.meta('tresc') }}
					</div>
				</div>
			</div>
		</section>
		{% include 'components/realizacje.twig' %}
		{% include 'components/skontaktuj.twig' %}
	</article>
{% endblock %}
