{#
  Title: testblock title
  Description: testblock desctiption
  Category: testblockcat
  Icon: editor-table
  Keywords: testimonial quote "customer testimonial"
  Mode: edit
  Align: full
  PostTypes: page post
  SupportsAlign: none
  SupportsMode: false
  SupportsMultiple: true
  Example: { "testfield1": "Test", "testfield2": "John Doe" }
#}
<section class="testblock {{ classes }} {{block.id}}">
	<p>{{ fields.testfield1 }}</p>
	<p>{{ fields.testfield2 }}</p>
</section>
