/* Layout */

.l-row {
  max-width: $xl;
  margin: 0 auto;
  padding: 0 $marinSize;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 26px;

  @include breakpoint($md) {
    grid-template-columns: repeat(12, 1fr);
  }
  &.noPaddings {
    padding: 0;
  }
}

.l-row4 {
  max-width: $xl;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 26px;
}

.l-col2 {
  grid-column-end: span 4;
  @include breakpoint($md) {
    grid-column-end: span 2;
  }
}
.l-col3 {
  grid-column-end: span 4;
  @include breakpoint($md) {
    grid-column-end: span 3;
  }
}
.l-col4 {
  grid-column-end: span 4;
  @include breakpoint($md) {
    grid-column-end: span 4;
  }
}
.l-col5 {
  grid-column-end: span 4;
  @include breakpoint($md) {
    grid-column-end: span 5;
  }
}

.l-col6 {
  grid-column-end: span 4;
  @include breakpoint($md) {
    grid-column-end: span 6;
  }
}

.l-col8 {
  grid-column-end: span 4;
  @include breakpoint($md) {
    grid-column-end: span 8;
  }
}

.l-col10 {
  grid-column-end: span 4;
  @include breakpoint($md) {
    grid-column-end: span 10;
  }
}

.l-col12 {
  grid-column-end: span 4;
  @include breakpoint($md) {
    grid-column-end: span 12;
  }
}

.l-off1 {
  @include breakpoint($md) {
    grid-column-start: 2;
  }
}
.l-off4 {
  @include breakpoint($md) {
    grid-column-start: 5;
  }
}
.l-off7 {
  @include breakpoint($md) {
    grid-column-start: 7;
  }
}
.l-off8 {
  @include breakpoint($md) {
    grid-column-start: 8;
  }
}
