.home__hero {
  height: 60vh;
  background-size: cover !important;
  position: relative;
  background-position: top center !important;
  @include breakpoint($md) {
    height: 100vh;
  }
  &__inside {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .--desktop {
      display: none;
      @include breakpoint($md) {
        display: grid;
        align-items: flex-end;
        height: 100%;
        padding-bottom: 40vh;
      }
    }
  }
}
.home__hero__row {
  color: $white;
  h1 {
    border-top: 8px solid $white;
    padding-top: 40px;
  }
}
.home__hero__copy {
  background: #8394a7;
  color: $white;
  &.--mobile {
    display: block;
    .l-container {
      padding-top: 70px;
      padding-bottom: 83px;
    }
    @include breakpoint($md) {
      display: none;
    }
  }

  .btn {
    color: $white;
  }
}
.home__hero__copy__border {
  border-top: 4px solid $white;
  padding-top: 36px;
  margin-top: 10px;
  @include breakpoint($md) {
    margin-top: 0;
    padding-top: 5%;
  }

  p {
    font-size: 2.4rem;
    line-height: 3.6rem;
    @include breakpoint($md) {
      font-size: 3.8rem;
      line-height: 5rem;
    }
  }
}

.home__oferta {
  background-color: #f5f5f5;
  padding-bottom: 10px;
  padding-top: 50px;
  @include breakpoint($md) {
    padding-top: 0;
  }
}

.wartosci {
}
.wartosci__item {
  width: 100%;
  margin-bottom: 40px;
  @include breakpoint($md) {
    width: 19%;
    margin-bottom: 0;
  }
  &__number {
    color: #8394a7;
    font-weight: 300;
  }
}
.wartosci__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  @include breakpoint($md) {
    flex-direction: row;
  }
}
.wartosci__item__copy {
  border-top: 2px solid $black;
  margin-top: 10px;
  padding-top: 19px;
}
.referencje {
  overflow: hidden;
}
.referencja {
  padding-right: 20%;
  min-width: 90%;
  @include breakpoint($md) {
    min-width: initial;
  }
}
.referencja__border {
  border-top: 2px solid $black;
  margin-top: 54px;
  padding-top: 18px;
  display: flex;
  justify-content: flex-start;
  figure {
    max-height: 70px;
    margin-right: 36px;
    img {
      max-height: 70px;
    }
  }
  .referencja__copy {
    align-self: center;
    p {
      margin-bottom: 0;
    }
  }
}

.referencje__wrap {
  position: relative;
}

.referencje__next {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  cursor: pointer;
  width: 45px;
  height: 45px;
  display: block;
  background: url("../images/next.svg") center no-repeat;
  display: none;
  @include breakpoint($md) {
    display: block;
  }
}
.js-referencje {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  @include breakpoint($md) {
    display: block;
    overflow-x: auto;
  }
}
.home__hero__copy {
  .l-container {
    padding-top: 5%;
    padding-bottom: 9%;
    .btn {
      margin-top: 34px;
      display: block;
      @include breakpoint($md) {
        margin-top: 52px;
      }
    }
  }
}

.home__hero__copy__border {
}

.home__oferta {
  .l-container {
    padding-top: 5.5%;
  }
}

.wartosci {
  .l-container {
    padding-bottom: 26px;
    @include breakpoint($md) {
      padding-top: 5%;
      padding-bottom: 15%;
    }
  }
  .addMargin {
    padding-bottom: 28px;
    @include breakpoint($md) {
      padding-bottom: 10%;
    }
  }
}
.wartosci__item__number {
  margin-bottom: 33px;

  @include breakpoint($md) {
    margin-bottom: 60px;
  }
}

.referencje {
  .l-container {
    padding-bottom: 8.5%;
    position: relative;
  }
  .referencje__bottom {
    position: relative;
    width: calc(100vw - 12%);
    @include breakpoint($md) {
      width: initial;
    }
  }
}

.referencje__wrap__inside {
  position: relative;
}

.arrowDown__wraper {
}

.arrowDown__wraper {
  position: relative;
}
.arrowDown__wraper__inside {
  position: absolute;
  left: 0;
  right: -26px;
  bottom: 0;
  text-align: center;
}
