.home__hero {
  height: 100vh;
  background-size: cover !important;
  position: relative;
  &__inside {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.home__hero__row {
  color: $white;
  h1 {
    margin-top: 20vw;
    border-top: 8px solid $white;
    padding-top: 40px;
  }
}
.home__hero__copy {
  background: #8394a7;
  color: $white;

  .btn {
    color: $white;
  }
}
.home__hero__copy__border {
  border-top: 4px solid $white;

  p {
    font-size: 38px;
    line-height: 50px;
  }
}

.home__oferta {
  background-color: #f5f5f5;
  padding-bottom: 10px;
}

.wartosci {
}
.wartosci__item {
  width: 19%;
  &__number {
    color: #8394a7;
    font-weight: 300;
  }
}
.wartosci__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wartosci__item__copy {
  border-top: 2px solid $black;
  margin-top: 10px;
  padding-top: 19px;
}
.referencje {
}
.referencja {
  padding-right: 20%;
}
.referencja__border {
  border-top: 2px solid $black;
  margin-top: 54px;
  padding-top: 18px;
  display: flex;
  justify-content: flex-start;
  figure {
    max-height: 70px;
    margin-right: 36px;
    img {
      max-height: 70px;
    }
  }
  .referencja__copy {
    align-self: center;
    p {
      margin-bottom: 0;
    }
  }
}

.referencje__wrap {
  position: relative;
}

.referencje__next {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  cursor: pointer;
  width: 45px;
  height: 45px;
  display: block;
  background: url("../images/next.svg") center no-repeat;
}

.home__hero__copy {
  .l-container {
    padding-top: 5%;
    padding-bottom: 9%;
    .btn {
      margin-top: 52px;
      display: block;
    }
  }
}

.home__hero__copy__border {
  padding-top: 5%;
}

.home__oferta {
  .l-container {
    padding-top: 5.5%;
  }
}

.wartosci {
  .l-container {
    padding-top: 5%;
    padding-bottom: 6%;
  }
  .addMargin {
    padding-bottom: 10%;
  }
}
.wartosci__item__number {
  margin-bottom: 60px;
}

.referencje {
  .l-container {
    padding-bottom: 8.5%;
  }
}
