.kontakt__tresc {
  background: $lightGrey;

  .l-container {
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint($md) {
      padding-top: 10.4%;
      padding-bottom: 9%;
    }
  }
  &__kolumna {
    border-top: 2px solid $black;
    padding-top: 56px;
  }
  &__title {
    margin-bottom: 35px;
  }
}
.kontakt__tresc__lewa {
  display: flex;
  justify-content: space-between;
}
.kontakt__tresc__smaller {
  margin-bottom: 6px;
}
