.oNas {
  &__header {
    height: 600px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover !important;

    .borderTop {
      border-color: $white;
    }
  }
  &__blue {
    padding-top: 0;
    background-color: #8394a7;
    color: #fff;
    .borderTop {
      border-color: $white;
    }
    &__title {
      @include breakpoint($md) {
        max-width: 50%;
      }
    }
  }
}

.oNas__images {
  padding: 7% 0 7%;
}
.oNas__copy {
  padding-top: 5%;
  padding-bottom: 10%;
}
.oNas__zespol__big.l-row {
}
.oNas__zespol__border {
  border-top: 2px solid $black;
  margin-top: 40px;
  padding-top: 36px;
  .oNas__zespol__stanowisko {
    margin-bottom: 30px;
  }
}
.oNas__zespol__item {
  @include breakpoint($md) {
    padding-bottom: 14%;
  }
}

.oNas__blue.title .l-container {
  padding-top: 5%;
  .borderTop {
    padding-bottom: 10%;
  }
}

.oNas__zespol__title {
  padding-bottom: 10% !important;
}
