/* Breakpoints */
$sm: 992px;
$md: 1100px;
$lg: 1440px;
$xl: 1662px;

$marinSize: 1rem;

@mixin breakpoint($size) {
  @media (min-width: $size) {
    @content;
  }
}

/* Colors*/
$black: #000000;
$white: #ffffff;
$darkGrey: #232323;
$blue: #8394a7;
$grey: #dddddd;
$lightGrey: #f5f5f5;
$headerSMHeight: 7rem;
$headerSMFixedHeight: 5rem;
$headerMDHeight: 12rem;
$headerMDFixedHeight: 8rem;
