/* Breakpoints */
$sm: 480px;
$md: 992px;
$lg: 1165px;
$xl: 1920px;

$marinSize: 1rem;

@mixin breakpoint($size) {
  @media (min-width: $size) {
    @content;
  }
}

/* Colors*/
$black: #000000;
$white: #ffffff;
$darkGrey: #232323;
$blue: #8394a7;
$grey: #dddddd;
$lightGrey: #f5f5f5;
$headerSMHeight: 70px;
$headerSMFixedHeight: 50px;
$headerMDHeight: 120px;
$headerMDFixedHeight: 80px;
