<head>
	<meta
	charset="utf-8"/>
	{# force Internet Explorer to use the latest rendering engine available #}
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>
		{{ wp_title }}
	</title>
	<meta name="MobileOptimized" content="320"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="apple-touch-icon" href=""/>
	<link rel="pingback" href="{{ site.pingback_url }}"/>
	{{function("wp_head")}}
	{% if options.scripts_to_head %}
		{{options.scripts_to_head}}
	{% endif %}
</head>
